// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #0000002e;
$light-gray-opacity: rgba(7, 4, 4, 0.1);
// $light-gray-opacity: rgba(0, 0, 0, 0.048);

$light-pink: #ffeeee;
$eat-color: #fffdca;
$sleep-color: #a8e1ff;
$activity-color: #ffd9ee;
$camera-color: #b5efe8;
$diaper-color: #c8eacd;
$health-color: #ffd8d8;
