// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$body-font: "Inter", sans-serif;
// "Inter", sans-serif;
.maia {
  font-size: 2rem;
  opacity: 0.7;
}

p {
  font-size: 1rem;
}

h4 {
  font-weight: 300 !important;
  line-height: 1.4em;
}

p,
h4,
h5,
span,
.fa-heart::before,
.fa-edit::before {
  opacity: 0.8;
}

$headers-font: "Inter", sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
