// Specific CSS for your home-page
.container-bg-pink-home {
  background-color: $light-pink;
  width: 100%;
  position: absolute;
  top: 0;
}

.container-bg-pink-edit,
.container-bg-pink-about {
  background-color: $light-pink;
  width: 100%;
  position: absolute;
  top: 0;
}

.container-bg-pink {
  background-color: $light-pink;
  width: 100%;
  position: absolute;
  top: 0;
}

.bg-white {
  background-color: white;
}

.vh-50 {
  height: 50vh;
}

.icon-feature {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  box-shadow: 1px 1px 20px #00000014;
  background-color: $light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-feature-1 {
  color: $sleep-color;
}
.icon-feature-2 {
  color: $activity-color;
}
.icon-feature-3 {
  color: $camera-color;
}

.fa-book,
.fa-laugh-beam,
.fa-user-edit {
  font-size: 2rem;
  // opacity: 0.7;
}

.feature-1 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box {
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 7px;
  border-radius: 16px;
}

.icon-box img {
  width: 100%;
}

.icon-box.vegetable {
  top: 6vh;
  left: 10vw;
  transform: rotate(45deg);
  background-color: $eat-color;
}

.icon-box.sleep {
  top: 30vh;
  left: 9vw;
  transform: rotate(-25deg);
  background-color: $sleep-color;
}

.icon-box.activity {
  top: 25vh;
  left: 40vw;
  transform: rotate(40deg);
  background-color: $activity-color;
}

.icon-box.camera {
  top: 10vh;
  left: 35vw;
  transform: rotate(-25deg);
  background-color: $camera-color;
}

.icon-box.diaper {
  top: 30vh;
  right: 10vw;
  transform: rotate(25deg);
  background-color: $diaper-color;
}

.icon-box.health {
  position: relative;
  top: 5vh;
  left: 65vw;
  background-color: $health-color;
  transform: rotate(7deg);
}
