// Specific CSS for your home-page
body {
	background-color: $light-pink;
}

.vh-50 {
	height: 50vh;
}

.icon-feature-1 {
	height: 70px;
	width: 70px;
	border-radius: 50px;
	background-color: red;
}

.feature-1 {
	justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

