<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <div class="profile-container d-flex justify-content-between align-items-center mb-3">
            <h2> L'équipe </h2>
          </div>
        </div>
      </div>
      <br>
       <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
       <br>
       <h5 class ="text-center">Raphael</h5>
       <br>
       <br>
       <br>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
        <br>
        <h5 class ="text-center">Guillaume</h5>
        <br>
        <br>
        <br>
         <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
         <br>
         <h5 class ="text-center">Jerome</h5>
         <br>
         <br>
         <br>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
          <br>
         <h5 class ="text-center">Romain</h5>
          </div>
    </div>
  </div>
</div>