<div class="container-bg-pink-about">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
       <h2 class="text-center mt-5 mb-5">maÏa</h2>
    </div>
  </div>
</div>
 <div class="col-12 col-md-6 mx-auto">
   <div class="card my-3">
     <div class="card-body">
       <div class="text-center">
          <h2 class= "font-weight-bold"> Les Kids de MaIa</h2>
        </div>
     </div>
    </div>
      <br>
      <br>
       <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
       <br>
       <h5 class ="text-center font-weight-bold">Raphael</h5>
       <h6 class ="text-center">Expert Backend</h6>
       <p class ="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
       <br>
       <br>
       <br>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
        <br>
         <h5 class ="text-center font-weight-bold">Guillaume</h5>
         <h6 class ="text-center">Expert Backend</h6>
         <p class ="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
        <br>
        <br>
        <br>
         <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
         <br>
         <h5 class ="text-center font-weight-bold">Jerome</h5>
          <h6 class ="text-center">Expert Frontend</h6>
          <p class ="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
         <br>
         <br>
         <br>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-kids-about" %>
          <br>
          <h5 class ="text-center font-weight-bold">Romain</h5>
          <h6 class ="text-center">Expert Frontend</h6>
          <p class ="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
          </div>
    </div>
  </div>
  </div>
