a {
  color: black;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.card-header {
  background-color: transparent;
}


textarea.form-control {
  margin-top: 50px;
  height: 15vh;
  margin-bottom: 30px;
}
