.sleep-color {
  background-color: $sleep-color;
}
.activity-color {
  background-color: $activity-color;
}
.food-color {
  background-color: $eat-color;
}

.photo-color {
  background-color: $camera-color;
}
.diaper-color {
  background-color: $diaper-color;
}
.health-color {
  background-color: $health-color;
}

.card-header span {
  font-size: small;
  font-weight: 600;
  opacity: 0.7;
}

.card-date {
  font-size: small;
}
