.dodo-color {
  background-color: $sleep-color;
}
.activité-color {
  background-color: $activity-color;
}
.repas-color {
  background-color: $eat-color;
}

.photo-color {
  background-color: $camera-color;
}
.change-color {
  background-color: $diaper-color;
}
.santé-color {
  background-color: $health-color;
}
