.form-control {
  // border-top: grey;
  border: none;
  border-bottom: 1px solid $light-gray;
  background-color: #ffeeee;
}

.form-control:focus {
  border: none;
  background-color: #ffeeee;
}

.underline-title {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}

.col-form-label {
  display: none;
}

.tags-new-event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-event-btn {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding: 10px;
}

.btn-garde {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding: 10px;
  background-color: white;
}

.infos-request {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.info-add-nanny {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.fa-check-circle {
  color: green;
  font-size: 30px;
}

.info-result-nanny {
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid black;
  }

.result-search-nanny {
  margin-top: 10px;
  padding: 10px;
}

.time-event {
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.info-badge {
  font-size: 10px;
}

#event_tag_repas, #event_tag_dodo, #event_tag_change, #event_tag_activité, #event_tag_santé, #event_tag_photo {
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 16px;
}

#event_tag_repas {
  background-color: red;
}

.underline-title:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 9px solid $sleep-color;
}

.underline-title.inscription:before {
  border-bottom: 9px solid $camera-color;
}

.info  {
  font-size: 20px;
  color: black;
}

.device-links {
  font-size: 0.7em;
  color: black;
  text-decoration: underline;
}

.form-control-file {
  box-shadow: 1px 1px 10px $light-gray-opacity;
  border-radius: 8px;
}
