.form-control {
  // border-top: grey;
  border: none;
  border-bottom: 1px solid $light-gray;
  background-color: #ffeeee;
}

.form-control:focus {
  border: none;
  background-color: #ffeeee;
}

.underline-title {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}

.col-form-label {
  display: none;
}

.create-event-btn {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding: 10px;
}

.btn-garde {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  padding: 10px;
  background-color: white;
}

.infos-request {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.info-add-nanny {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.fa-check-circle {
  color: green;
  font-size: 50px;
}

.info-result-nanny {
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid black;
  }

.result-search-nanny {
  margin-top: 10px;
  padding: 10px;
}

.time-event {
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.info-badge {
  font-size: 10px;
}


.collection_radio_buttons {
  display: none;
}

.underline-title:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 9px solid $sleep-color;
}

.underline-title.inscription:before {
  border-bottom: 9px solid $camera-color;
}

.info  {
  font-size: 20px;
  color: black;
}

.device-links {
  font-size: 0.7em;
  color: black;
  text-decoration: underline;
}

.form-control-file {
  box-shadow: 1px 1px 10px $light-gray-opacity;
  border-radius: 8px;
}

.new-tag {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.container-tags {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
}

.container-tags .btn-primary {
  margin: 20px;
}

.container-tags input[type="radio"] {
  -webkit-appearance: none;
}

input#event_tag_repas {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $eat-color;
  }

input#event_tag_activité {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $activity-color;
}


input#event_tag_dodo {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $sleep-color;
}

input#event_tag_santé {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $health-color;
}

input#event_tag_change {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $diaper-color;
}

input#event_tag_photo {
  border-radius: 16px;
  width: 40px;
  height: 40px;
  background-color: $camera-color;
}
