.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: $light-gray;
  position: sticky;
  top: 0;
  z-index: 100;
}

.light-gray {
  color: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.btn-navbar-right {
  border: none;
  background-color: transparent;
}

.fa-angle-left {
  color: $light-gray;
}

.fa-ellipsis-v {
  color: $light-gray;
}

.new-session {
  background-color: $light-pink;
}

@media screen and (min-width: 576px) {
  .btn-navbar-right {
    display: none;
  }
}
