.card {
  border: none;
  box-shadow: 1px 1px 20px #80808030;
  border-radius: 8px;
  background-color: $light-pink;
}

.card-title {
  margin-bottom: 0;
}

.card-body {
  text-align: center;
}

.card-body > img {
  width: 90%;
}
